ion-content {
    --background: none;
    background: url(../../assets/imagenes/fondo-verduras.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
.headerPerfil{
    text-align: center;
}

ion-text {
    font-weight: bold;
}

ion-button{
    padding-top: 16px;
}

.center-avatar{
    display: flex;
    justify-content: center;
    width: 100%;
}