<ion-content [scrollEvents]="true">

  <div *ngIf="loading">

    <ion-card class="ion-padding" color="success">
      <ion-card-content *ngFor="let item of [1]">
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>

    <ion-card class="ion-padding" color="warning">
      <ion-card-content *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]">
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>

    <!-- <ion-card class="ion-padding" color="light">
      <ion-card-content *ngFor="let item of [1,1,1,1]">
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card> -->

  </div>

  <div *ngIf="!loading">
    <swiper-container
    #slideplan
    [pagination]="true"
    [allowTouchMove]="false"
  >
  <swiper-slide>
    <div class="tituloInicio">
      <ion-item class="ion-text-center" color="success">
        <ion-label>
          <h1><b>{{ nombrePaciente }}</b></h1>
          <p>Tu nutricionista: <b>{{ nombreNutricionista }}</b></p>
        </ion-label>
      </ion-item>
    </div>

    <ion-card *ngIf="!hayPlatos" color="warning">
      <ion-card-header>
        <ion-card-title class="ion-text-center"> <b>Platos sugeridos</b></ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <p class="ion-text-center" >Aquí encontrarás las sugerencias de porciones que te recomiende tu nutricionista para tu almuerzo y cena</p>
        <div class="contenedor">
          <img class="plato"
          id="logo1"
          src="../../../assets/imagenes/food-plate.jpg"
          alt=""
          >
        </div>

      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="hayPlatos" color="warning">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Almuerzo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="contenedor">

          <div class="contenedor">
            <img class="plato"
            id="logo1"
            [src]= recomendaciones.almuerzo
            alt=""
            >
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="hayPlatos" color="dark">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Cena</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="contenedor">

          <div class="contenedor">
            <img class="plato"
            id="logo1"
            [src]= recomendaciones.cena
            alt=""
            >
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="!hayRecomendaciones" color="light">
      <ion-card-header>
        <ion-card-title class="ion-text-center"><b>Recomendaciones</b></ion-card-title>
      </ion-card-header>
      <ion-card-content>
       <p class="ion-text-center">No tienes recomendaciones y sugerencias para que sigas durante la semana</p>
       <div class="contenedor">
        <img class="plato"
        id="logo1"
        src="../../../assets/imagenes/medico_ok.png"
        alt=""
        >
      </div>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="hayRecomendaciones" color="light">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Recomendaciones</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="ion-text-center">{{ recomendaciones.recomendaciones }}</p>
      </ion-card-content>
    </ion-card>
   
    <ion-button (click)="verSemana()" expand="block" shape="round" color="success">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      Tu semana
    </ion-button>
    <br>

    
      <ion-button (click)="descargarRecetas()" expand="block" shape="round" [color]='hayRecetas ? "warning" : "light"'>
        <ion-icon slot="end" name="cloud-download-outline"></ion-icon>
        Recetas
      </ion-button>
    <br>
  </swiper-slide>

  <swiper-slide>
    <div class="tituloInicio">
      <ion-item
        class="ion-text-center"
        color="success"
      >
        <ion-label>
          <h1><b>Resumen de tu semana</b></h1>
          <p><b>
              {{arrayFechas[0].fechaInicio | date:'dd/MM/yyyy'}} - {{arrayFechas[0].fechaFin | date:'dd/MM/yyyy'}}
            </b>
          </p>
        </ion-label>
      </ion-item>
    </div>
    <div *ngIf="this.registroAlimentos.length > 0">
      <ion-card>
        <div class="caloriasIngeridas">
          <ion-item
            color="light"
            class="caloriasSub"
          >
            <ion-label class="subs">
              <ion-icon
                size="large"
                name="restaurant-outline"
              ></ion-icon>
      
              <b>
                &nbsp;Promedio calorías ingeridas
              </b>
            </ion-label>
          </ion-item>
      
          <h1 class="numCalIngeridas">
            <b>{{ detalleAlimentos.caloriasTotales }} kcal</b>
          </h1>
      
          <!-- <canvas
            baseChart="baseChart"
            class="chart"
            [data]="doughnutChartData"
            [type]="doughnutChartType"
            [legend]="true"
          ></canvas> -->
          <div class="ion-padding-start ion-padding-end">
            <div class="bar-chart">
              <div *ngFor="let item of data" class="bar">
                <div class="bar-label">{{ item.category }}</div>
                <div class="bar-outer">
                  <div class="bar-inner" [style.width.%]="item.percentage">
                    <b style="color:black">{{ item.percentage }}%</b>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
      
          <div *ngIf="reacciones.caloriasIngeridas.length > 0 " class="reaccionCalorias">
            <ion-icon
              (click)="verReaccion(reacciones.caloriasIngeridas)"
              [color]= colorReaccioncaloriasIngeridas
              size="large"
              [name]= '((reacciones.caloriasIngeridas !="happy-outline") && (reacciones.caloriasIngeridas !="sad-outline")) ? "chatbubble-ellipses-outline" : reacciones.caloriasIngeridas'
            ></ion-icon>
          </div>
        </div>
      </ion-card>
      <ion-card color="warning">
        
        <div class="caloriasQuemadas">
          <ion-item
            color="warning"
            class="caloriasSub"
          >
            <ion-label class="subs">
              <ion-icon
                size="large"
                name="flame-outline"
              ></ion-icon>
      
              <b>Promedio calorías quemadas</b>
            </ion-label>
          </ion-item>
      
          <h1 class="ion-padding-bottom ion-text-center">
            <b>{{ detalleAlimentos.caloriasQuemadas }} kcal</b>
          </h1>
      
          <div  *ngIf="reacciones.caloriasQuemadas.length > 0 " class="reaccionCaloriasQ">
            <ion-icon
            (click)="verReaccion(reacciones.caloriasQuemadas)"
              [color]= colorReaccioncaloriasQuemadas
              size="large"
              [name]= '((reacciones.caloriasQuemadas !="happy-outline") && (reacciones.caloriasQuemadas !="sad-outline")) ? "chatbubble-ellipses-outline" : reacciones.caloriasQuemadas'
            ></ion-icon>
          </div>
        </div>
      </ion-card>
      
      <ion-card  color="tertiary">
        <div class="aguaBebida">
          <ion-item
            color="tertiary"
            class="caloriasSub"
          >
            <ion-label class="subs">
              <ion-icon
                size="large"
                name="water-outline"
              ></ion-icon>
      
              <b>Promedio agua bebida</b>
            </ion-label>
          </ion-item>
      
          <h1 class="ion-padding-bottom ion-text-center">
            <b>{{ detalleAlimentos.agua }} L</b>
          </h1>
      
          <div  *ngIf="reacciones.aguaBebida.length > 0 " class="reaccionAgua">
            <ion-icon
              (click)="verReaccion(reacciones.aguaBebida)"
              [color] = colorReaccionaguaBebida
              size="large"
              [name]= '((reacciones.aguaBebida !="happy-outline") && (reacciones.aguaBebida !="sad-outline")) ? "chatbubble-ellipses-outline" : reacciones.aguaBebida'
            ></ion-icon>
          </div>
        </div>
      </ion-card>    
    </div>

    <div *ngIf="this.registroAlimentos.length <= 0">
      <ion-card color="light">
        <ion-card-header>
          <ion-card-title class="ion-text-center"> <b>No hay registros de tu última semana</b></ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <!-- <p class="ion-text-center" >No hay registros de tu última semana</p> -->
          <div class="contenedor">
            <img class="plato"
            id="logo1"
            src="../../../assets/imagenes/check-list.jpg"
            alt=""
            >
          </div>
  
        </ion-card-content>
      </ion-card>
    </div>
   
    <ion-button (click)="verRecomendaciones()" expand="block" shape="round" color="success">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      Ver recomendaciones
    </ion-button>

  </swiper-slide>
</swiper-container>

    
  </div>

  
</ion-content>