<ion-content [scrollEvents]="true">

  <div *ngIf="loading">

    <ion-card class="ion-padding" color="success">
      <ion-card-content *ngFor="let item of [1]">
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>

    <ion-card class="ion-padding" color="warning">
      <ion-card-content *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]">
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>

    <!-- <ion-card class="ion-padding" color="light">
      <ion-card-content *ngFor="let item of [1,1,1,1]">
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card> -->

  </div>

  <div *ngIf="!loading">
    <swiper-container
    #slideplan
    [pagination]="true"
    [allowTouchMove]="false"
  >
  <swiper-slide>
    <div class="tituloInicio">
      <ion-item class="ion-text-center" color="success">
        <ion-label>
          <h1><b>{{ nombrePaciente }}</b></h1>
          <p>Tu nutricionista: <b>{{ nombreNutricionista }}</b></p>
        </ion-label>
      </ion-item>
    </div>

    <ion-card *ngIf='!(recomendaciones.almuerzo.length > 0) && !(recomendaciones.cena.length > 0)' color="warning">
      <ion-card-header>
        <ion-card-title class="ion-text-center"> <b>Platos sugeridos</b></ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <p class="ion-text-center" >Aquí encontrarás las sugerencias de porciones que te recomiende tu nutricionista para tu almuerzo y cena</p>
        <div class="contenedor">
          <img class="plato"
          id="logo1"
          src="../../../assets/imagenes/food-plate.jpg"
          alt=""
          >
        </div>

      </ion-card-content>
    </ion-card>

    <ion-card *ngIf='recomendaciones.almuerzo.length > 0' color="warning">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Almuerzo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="contenedor">

          <div class="contenedor">
            <img class="plato"
            id="logo1"
            [src]= recomendaciones.almuerzo
            alt=""
            >
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="recomendaciones.cena.length > 0" color="dark">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Cena</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="contenedor">

          <div class="contenedor">
            <img class="plato"
            id="logo1"
            [src]= recomendaciones.cena
            alt=""
            >
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="!hayRecomendaciones" color="light">
      <ion-card-header>
        <ion-card-title class="ion-text-center"><b>Recomendaciones</b></ion-card-title>
      </ion-card-header>
      <ion-card-content>
       <p class="ion-text-center">No tienes recomendaciones y sugerencias para que sigas durante la semana</p>
       <div class="contenedor">
        <img class="plato"
        id="logo1"
        src="../../../assets/imagenes/medico_ok.png"
        alt=""
        >
      </div>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="hayRecomendaciones" color="light">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Recomendaciones</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="ion-text-center">{{ recomendaciones.recomendaciones }}</p>
      </ion-card-content>
    </ion-card>
   
    <ion-button (click)="verSemana()" expand="block" shape="round" color="success">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      Tu semana
    </ion-button>
    <br>

    
      <ion-button (click)="descargarRecetas()" expand="block" shape="round" [color]='hayRecetas ? "warning" : "light"'>
        <ion-icon slot="end" name="cloud-download-outline"></ion-icon>
        Recetas
      </ion-button>
    <br>
  </swiper-slide>

  <swiper-slide>
    <div class="tituloInicio">
      <ion-item
        class="ion-text-center"
        color="success"
      >
        <ion-label>
          <h1><b>Resumen de tu semana</b></h1>
          <p><b>
              {{arrayFechas[0].fechaInicio | date:'dd/MM/yyyy'}} - {{arrayFechas[0].fechaFin | date:'dd/MM/yyyy'}}
            </b>
          </p>
        </ion-label>
      </ion-item>
    </div>
    <div *ngIf="registroAlimentosEnSemana.length > 0">
      <ion-card>
        <div class="caloriasIngeridas">
          <ion-item
            color="light"
            class="caloriasSub"
          >
            <ion-label class="subs">
              <ion-icon
                size="large"
                name="restaurant-outline"
              ></ion-icon>
      
              <b>
                &nbsp;Promedio calorías ingeridas
              </b>
            </ion-label>
          </ion-item>
          
          <div class="ion-padding-start ion-padding-end">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="10">
                  <h1 class="numCalIngeridas">
                    <b>{{ detalleAlimentos.caloriasTotales }} kcal</b>
                  </h1>
                </ion-col>
                <ion-col size="2" class="center-icon">
                  <div *ngIf="reacciones.caloriasIngeridas.length > 0 ">
                    <ion-icon
                      (click)="verReaccion(reacciones.caloriasIngeridas)"
                      [color]= colorReaccioncaloriasIngeridas
                      size="large"
                      [name]= '((reacciones.caloriasIngeridas !="happy-outline") && (reacciones.caloriasIngeridas !="sad-outline")) ? "chatbubble-ellipses-outline" : reacciones.caloriasIngeridas'
                    ></ion-icon>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
      
          <ion-card-content>
            <div class="ion-padding-bottom">
              <div *ngFor="let item of data" class="bar">
                <div class="bar-label">{{ item.category }}</div>
                <div class="bar-outer">
                  <div class="bar-inner" [style.width.%]="item.percentage">
                    <b style="color:black">{{ item.percentage }}%</b>
                  </div>
                </div>
              </div>
          </div>
          </ion-card-content>
        </div>
      </ion-card>

      <ion-card color="warning">
        <div class="caloriasQuemadas">
          <ion-item
            color="warning"
            class="caloriasSub"
          >
            <ion-label class="subs">
              <ion-icon
                size="large"
                name="flame-outline"
              ></ion-icon>
      
              <b>Promedio calorías quemadas</b>
            </ion-label>
          </ion-item>

          <div class="ion-padding-start ion-padding-end">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="10">
                  <h1 class="ion-padding-bottom ion-text-center">
                    <b>{{ detalleAlimentos.caloriasQuemadas }} kcal</b>
                  </h1>
                </ion-col>
                <ion-col size="2" class="center-icon">
                  <div  *ngIf="reacciones.caloriasQuemadas.length > 0 ">
                    <ion-icon
                    (click)="verReaccion(reacciones.caloriasQuemadas)"
                      [color]= colorReaccioncaloriasQuemadas
                      size="large"
                      [name]= '((reacciones.caloriasQuemadas !="happy-outline") && (reacciones.caloriasQuemadas !="sad-outline")) ? "chatbubble-ellipses-outline" : reacciones.caloriasQuemadas'
                    ></ion-icon>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </ion-card>
      
      <ion-card  color="tertiary">
        <div class="aguaBebida">
          <ion-item
            color="tertiary"
            class="caloriasSub"
          >
            <ion-label class="subs">
              <ion-icon
                size="large"
                name="water-outline"
              ></ion-icon>
      
              <b>Promedio agua bebida</b>
            </ion-label>
          </ion-item>

          <div class="ion-padding-start ion-padding-end">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="10">
                  <h1 class="ion-padding-bottom ion-text-center">
                    <b>{{ detalleAlimentos.agua }} L</b>
                  </h1>
                </ion-col>
                <ion-col size="2" class="center-icon">
                  <div  *ngIf="reacciones.aguaBebida.length > 0 ">
                    <ion-icon
                      (click)="verReaccion(reacciones.aguaBebida)"
                      [color] = colorReaccionaguaBebida
                      size="large"
                      [name]= '((reacciones.aguaBebida !="happy-outline") && (reacciones.aguaBebida !="sad-outline")) ? "chatbubble-ellipses-outline" : reacciones.aguaBebida'
                    ></ion-icon>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </ion-card>    
    </div>

    <div *ngIf="registroAlimentosEnSemana.length <= 0">
      <ion-card color="light">
        <ion-card-header>
          <ion-card-title class="ion-text-center"> <b>No hay registros de tu última semana</b></ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <!-- <p class="ion-text-center" >No hay registros de tu última semana</p> -->
          <div class="contenedor">
            <img class="plato"
            id="logo1"
            src="../../../assets/imagenes/check-list.jpg"
            alt=""
            >
          </div>
        </ion-card-content>
      </ion-card>
    </div>

    <ion-button (click)="verProgreso()" expand="block" shape="round" color="success">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      Ver progresos
    </ion-button>
   
    <ion-button (click)="verRecomendaciones()" expand="block" shape="round" color="success">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      Ver recomendaciones
    </ion-button>

  </swiper-slide>

  <swiper-slide>
    <div class="tituloInicio">
      <ion-item
        class="ion-text-center"
        color="success"
      >
        <ion-label>
          <h1><b>Progreso semanal</b></h1>
          <p><b>
              {{arrayFechas[0].fechaInicio | date:'dd/MM/yyyy'}} - {{arrayFechas[0].fechaFin | date:'dd/MM/yyyy'}}
            </b>
          </p>
        </ion-label>
      </ion-item>
    </div>
    <div *ngIf="registroMediciones.length > 0">

      <ion-card>
        <div class="mediciones">
          <ion-item
            color="light"
            class="caloriasSub"
          >
            <ion-label class="subs">
              <ion-icon
                size="large"
                name="accessibility-outline"
              ></ion-icon>
      
              <b>
                &nbsp;Evolución de tus mediciones
              </b>
            </ion-label>
          </ion-item>
                    
          <div class="ion-padding-start ion-padding-end">
            <ion-grid class="table-med">
              <ion-row class="table-header">
                <ion-col>Medida</ion-col>
                <ion-col>Inicial</ion-col>
                <ion-col>Ultima</ion-col>
                <ion-col>+/-</ion-col>
              </ion-row >
              <ion-row *ngFor="let item of dataMed" class="table-item">
                <ion-col>{{item.category}}</ion-col>
                <ion-col>{{registroMedicionesEnSemana[0].medicion[(item.category).toLowerCase()]}}</ion-col>
                <ion-col>{{registroMedicionesEnSemana[this.registroMedicionesEnSemana.length - 1].medicion[(item.category).toLowerCase()]}}</ion-col>
                <ion-col class="positive">{{item.value}}</ion-col>
              </ion-row>
            </ion-grid>
          </div>

        </div>
      </ion-card>

      <ion-card class="imc">
        <div>
          <ion-item
            color="light"
            class="caloriasSub"
          >
            <ion-label class="subs">
              <ion-icon
                size="large"
                name="scale-outline"
              ></ion-icon>
      
              <b>
                &nbsp;Índice de masa corporal
              </b>
            </ion-label>
          </ion-item>
        </div>

        <div *ngIf='imc > 0' class="ion-padding-start ion-padding-end">
          <div class="imc-value-header">Tu IMC es:</div>
          <div class="imc-value">{{imc}}</div>
          <div class="imc-meter-range">
            <div class="imc-range">18.5</div>
            <div class="imc-range">25.0</div>
            <div class="imc-range">30.0</div>
          </div>
          <div class="imc-meter">
            <div class="imc-section section1"></div>
            <div class="imc-section section2"></div>
            <div class="imc-section section3"></div>
            <div class="imc-label">
              <div class="arrow" [style.left]="calcularPosicionFlecha()"></div>
            </div>
          </div>
          <div class="imc-meter-titles">
            <div class="imc-title">Bajo</div>
            <div class="imc-title">Saludable</div>
            <div class="imc-title">Sobrepeso</div>
          </div>
        </div>

        <div class="ion-align-items-center" *ngIf='!(imc > 0)'>
          <br>
          <br>
        <h1 style="color:black" class="ion-text-center"><b>SIN DATOS</b></h1>
        </div>

      </ion-card>
        
    </div>

    <div *ngIf="registroMediciones.length <= 0">
      <ion-card color="light">
        <ion-card-header>
          <ion-card-title class="ion-text-center"> <b>No hay registros de tu última semana</b></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="contenedor">
            <img class="plato"
            id="logo1"
            src="../../../assets/imagenes/check-list.jpg"
            alt=""
            >
          </div>
  
        </ion-card-content>
      </ion-card>

    </div>
 
    <ion-button (click)="verRecomendaciones()" expand="block" shape="round" color="success">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      Tu semana
    </ion-button>

  </swiper-slide>

</swiper-container>

    
  </div>

  
</ion-content>