ion-content {
    --background: none;
    background: url(../../../assets/imagenes/fondo-verduras.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .opciones{
    border-radius: 20px 20px 20px 20px;
  }

  .menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
  }

  .separador{
    height: 15%;
  }