ion-content {
    --background: none;
    background: url(../../../assets/imagenes/fondo-verduras.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .contenedor{
    display: flex;
    justify-content: center; 
    width: 100%;
    max-height: 300px;
  }