<ion-content [fullscreen]="true">
    <ion-card color="light">
        <ion-card-header>
            <ion-card-title class="ion-text-center"><b>Tus pacientes</b></ion-card-title>
        </ion-card-header>
        <ion-card-content color="light">
                <ion-list  color="light">
                  <ion-item *ngFor="let i of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]"  color="light">
                    <ion-label>Pedro Picapiedras</ion-label>
                  </ion-item>
                </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
