<ion-content>
  <ion-card class="calendario">
    <ion-card-subtitle class="ion-padding">Fecha de registro</ion-card-subtitle>
    <ion-card-title class="ion-text-center">{{ registroFecha | date: 'dd/MM/yyyy' }}</ion-card-title>
   <ion-card-content id="dateMedicion">
    <ion-icon  color="primary" size="large" name="chevron-down-circle-outline"></ion-icon>
   </ion-card-content>
  </ion-card>
  <ion-popover trigger="dateMedicion" >
    <ng-template>
        <ion-datetime #datetimeIdMedicion  [showDefaultButtons]="true" doneText="Aceptar" cancelText="Cancelar" presentation="date" (ngModel)="registroFecha" (ionChange)="setDate(datetimeIdMedicion.value)" locale="es-ES" max={{max}} [highlightedDates]="highlightedDates"></ion-datetime>
    </ng-template>
</ion-popover>

<ion-card class="mediciones">
  <ion-card-subtitle class="ion-padding">Básicas</ion-card-subtitle>
  <ion-card-content class="inputMediciones">

    <ion-item (click)="cargarPeso()"  color="secondary" class="medicion" button detail="true">
      <ion-label>
        <h2>Peso</h2>
        <h1 *ngIf="medicion.peso!=0" class="ion-text-center"><b>{{medicion.peso}} kg</b></h1>
      </ion-label>
    </ion-item>
    <ion-item (click)="cargarTalla()" color="secondary" class="medicion" button detail="true">
      <ion-label>
        <h2>Talla</h2>
        <h1 *ngIf="medicion.talla!=0" class="ion-text-center"><b>{{medicion.talla}} cm</b></h1>
      </ion-label>
    </ion-item>


  </ion-card-content>
</ion-card>

<ion-card class="perimetros">
  <ion-card-subtitle class="ion-padding">Perímetros</ion-card-subtitle>
  <ion-card-content class="inputMediciones">
    <ion-item (click)="cargarCintura()" color="secondary" class="medicion" button detail="true">
      <ion-label>
        <h2>Cintura</h2>
        <h1 *ngIf="medicion.cintura!=0" class="ion-text-center"><b>{{medicion.cintura}} cm</b></h1>
      </ion-label>
    </ion-item>
    <ion-item (click)="cargarOmbligo()" color="secondary" class="medicion" button detail="true">
      <ion-label>
        <h2>Ombligo</h2>
        <h1 *ngIf="medicion.ombligo!=0" class="ion-text-center"><b>{{medicion.ombligo}} cm</b></h1>
      </ion-label>
    </ion-item>
    <ion-item (click)="cargarCadera()" color="secondary" class="medicion" button detail="true">
      <ion-label>
        <h2>Cadera</h2>
        <h1 *ngIf="medicion.cadera!=0" class="ion-text-center"><b>{{medicion.cadera}} cm</b></h1>
      </ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>

<div [hidden]="hayRegistro" >
  <ion-button (click)="enviarRegistro()" expand="block" shape="round" color="danger">
    Enviar registro
  </ion-button>
</div>




</ion-content>