ion-content {
  --background: none;
  background: url(../../assets/imagenes/fondo-verduras.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
ion-card-title{
    color: black !important;
    text-align: center !important;
    font-size: 30px;
  }


.calendario{
    background-color: #f4f5f8;
  }

.mediciones{
    background-color: #dff7f4;
  }

.inputMediciones{
    font-size: 22px;
    color: black;
}

.perimetros{
    background-color: #dff7f4;
  }

 .medicion{
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 5px;
  }

