<ion-header >
  <ion-toolbar color="success">
    <ion-buttons (click)="volver()" slot="start">
      <ion-icon size="large" slot="icon-only" name="arrow-back-circle-outline"></ion-icon>
  </ion-buttons>
    <ion-title class="ion-text-center"><b>{{ nombre }}</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div *ngIf="hayPerfil">
  <ion-card>
    <ion-card-header>
      Información de usuario
    </ion-card-header>
  <ion-card-content *ngIf='this.perfilPaciente.fotoPerfil !== ""'>
    <div (click)="verFoto()" class="center-avatar">
      <ion-avatar>
        <ion-img [src]=this.perfilPaciente.fotoPerfil alt="Silhouette of a person's head" class="avatar-img"></ion-img>
      </ion-avatar>
    </div>
    <ion-list>
      <ion-item>
        <ion-label>
          <p>Email:</p>
          <ion-text>{{ perfilPaciente.email }}</ion-text>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Nombre Completo:</p>
          <ion-text>{{ perfilPaciente.nombre }}</ion-text>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>DNI:</p>
          <ion-text>{{ perfilPaciente.dni }}</ion-text>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Obra Social:</p>
          <ion-text>{{ perfilPaciente.obraSocial }}</ion-text>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Número de Afiliado:</p>
          <ion-text>{{ perfilPaciente.numAfiliado }}</ion-text>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <p>Teléfono:</p>
          <ion-text>{{ perfilPaciente.telefono }}</ion-text>
        </ion-label>
      </ion-item>

      <ion-item button detail="true">
        <ion-label (click)="verConsideraciones()">
          <p>Consideraciones:</p>
          <ion-text>{{ perfilPaciente.consideraciones }}</ion-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
</div>

<div *ngIf="!hayPerfil">
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title class="ion-text-center"> <b>El paciente no completó su perfil</b></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div>
        <img 
        src="../../../assets/imagenes/check-list.jpg"
        alt="">
      </div>
    </ion-card-content>
  </ion-card>
</div>
 
</ion-content>
