ion-content {
  --background: none;
  background: url(../../../assets/imagenes/fondo-verduras.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.opciones{
  border-radius: 20px 20px 20px 20px;
}

.contenedor{
  display: flex;
  justify-content: center; 
  width: 100%;
  max-height: 300px;
}

.mediciones{
  background-color: #dff7f4;
}

.inputMediciones{
  font-size: 22px;
  color: black;
}

.perimetros{
  background-color: #dff7f4;
}

.medicion{
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 5px;
}



.imc{
  background-color: #f4f5f8;
  height: 260px;
}

.imc-value-header{
  font-size: 20px;
  text-align: left;
  margin-top: 10px;
}

.imc-value{
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.imc-meter {
  margin-top: 20px;
  margin-bottom: 15px;
  width: 100%;
  height: 20px;
  border-radius: 5px;
  position: relative;
  display: flex;
}

.imc-meter-range{
  width: 100%;
  height: 20px;
  position: relative;
  display: flex;
  margin-left: 10px;
}

.imc-range{
  flex: 1;
  height: 100%;
  text-align: right;
  margin-top: 6px;
  position: relative;
}


.imc-meter-titles{
  width: 100%;
  height: 20px;
  position: relative;
  display: flex;
}


.imc-title{
  flex: 1;
  height: 100%;
  text-align: center;
}

.imc-section {
  flex: 1;
  height: 100%;
  transition: background-color 0.5s ease-in-out;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

}

.section1 {
  background-color: #03FFEB;
  border-left: 1px solid #ccc;
}

.section2 {
  background-color: #52FF03;
}

.section3 {
  background-color: #FCFF03;
  border-right: 1px solid #ccc;
}

.section1::before {
  content: '';
  position: absolute;
  left: 0px;
  height: 35px;
  background-color: #ccc;
  width: 2px;
  top: -15px;
}

.section2::before {
  content: '';
  position: absolute;
  height: 30px;
  background-color: #ccc;
  width: 1px;
  top: -10px;
}

.section3::after {
  content: '';
  position: absolute;
  right: 0px;
  height: 35px;
  background-color: #ccc;
  width: 2px;
  top: -15px;
}

.section3::before {
  content: '';
  position: absolute;
  height: 30px;
  background-color: #ccc;
  width: 1px;
  top: -10px;
}

.imc-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-weight: bold;
  width: 100%;
}

.arrow {
  position: absolute;
  width: 5px;
  height: 15px;
  background-color: #FF5733;
  transition: left 0.5s ease-in-out;
}
