ion-item {
    --padding-start: 0;
  }

  ion-card-title{
    color: black !important;
    text-align: center !important;
    font-size: 30px;
  }


  swiper-container{
    width: 100%;
    height: 100%;
    align-items: center;
    vertical-align: middle;
  }

  swiper-slide {
    //display:flex;
    display: block;
    padding-top: 30%;;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }

  .icono{
    display: grid;
    font-size: 25px;
    align-items: center;
    justify-items: center;
    color: black;
  }
  