ion-content {
  --background: none;
  background: url(../../assets/imagenes/fondo-verduras.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

swiper-container{
  // width: 100%;
  // height: 100%;
  align-items: center;
  --swiper-pagination-bullet-inactive-color:transparent;
  --swiper-pagination-color:transparent;
  padding-bottom: 15px;
}

.caloriasIngeridas{
  background-color: #f4f5f8;
  height: 350px;
}
.numCalIngeridas{
  color: black;
  text-align: center;
}
.chart {
  max-width: 100%;
  max-height: 60%;
}

.caloriasQuemadas{
  background-color: #ffc409;
  height: 20%;
}

.aguaBebida{
  background-color: #3dc2ff;
  height: 20%;
}
.caloriasSub{
  text-align: center;
  align-items: center;
  font-size: 18px;
}

.subs{
  display: flex;
  align-items: center;
  justify-content:center;
}

.reaccionCalorias{
  position:absolute;
  margin-left: 85%;
  margin-top: -10%;
}

.reaccionCaloriasQ{
  position:absolute;
  margin-left: 85%;
  margin-top: -15%;
}

.reaccionAgua{
  position:absolute;
  margin-left: 85%;
  margin-top: -15%;
}

.contenedor{
  display: flex;
  justify-content: center; 
  width: 100%;
  max-height: 300px;
}

.plato{
  max-height: 300px;
  max-width: 300px;
}

